<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/axios-0.18.0.js"></script>
    <script src="js/vuejs-2.5.16.js"></script>
</head>
<body>

<div id="app">

    <input type="text" @keydown.enter="fun()"  >
    <div v-html="msg"></div>
    <font :color="color">zhanliangping</font><br>



    用户名:<input type="text" v-model="user.username"><br>
    密码:<input type="text" v-model="user.password"><br>
    <input type="button" @click="fun2" value="按钮">


    <ul>
        <li v-for="(value,index) in arr">{{value}}---{{index}}</li>
    </ul>
    <ul>
        <li v-for="(user,index) in list">{{index}}--- {{user.username}}--{{user.age}}</li>
    </ul>

</div>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            msg:"<a href='keydown_event.html'>百度</a>",
            color:"red",
            user:{
                username: "tom",
                password: "123"
            },
            arr:['aaa','bbb','ccc'], //model
            list:[{username:"张三",age:18},{username:"李四",age:22}]
        },
        methods:{
            fun:function () {
                alert("执行了enter");

            },
            fun2:function () {

                alert(this.user.username+this.user.password)



            }
        },
        created:{

        }
    })
</script>
</html>